<div *ngIf="patient">
  <h2>Detalle de paciente</h2>
  <span class="field">Nombre: <span class="content">{{ patient.name[0].given }}</span></span>
  <span class="field">Familia: <span class="content">{{ patient.name[0].family }}</span></span>
  <span class="field" *ngIf="patient.gender">Genero: <span class="content">{{ patient.gender }}</span></span>
  <span class="field" *ngIf="patient.birthDate">Fecha de nacimiento: <span class="content">{{ patient.birthDate }}</span></span>
  <span *ngIf="patient.address" class="sub-tittle">Dirección:
    <span class="field" *ngIf="patient.address[0].city"><span class="content">ciudad: {{ patient.address[0].city }}</span></span>
    <span class="field" *ngIf="patient.address[0].postalCode"><span class="content">codigo postal: {{ patient.address[0].postalCode }}</span></span>
    <span class="field" *ngIf="patient.address[0].state"><span class="content">Estado: {{ patient.address[0].state }}</span></span>
    <span class="field" *ngIf="patient.address[0].use"><span class="content">Uso: {{ patient.address[0].use }}</span></span>
  </span>
  <span *ngIf="patient.contact" class="sub-tittle">Contacto:
    <span class="field" *ngIf="patient.contact[0].name"><span class="content">nombre: {{ patient.contact[0].name.given }}</span></span>
    <span class="field" *ngIf="patient.contact[0].name.family"><span class="content">familia: {{ patient.contact[0].name.family }}</span></span>
    <span class="field" *ngIf="patient.contact[0].telecom[0].value"><span class="content">telefono contacto: {{ patient.contact[0].telecom[0].value }}</span></span>
  </span>
  <button class="btn-back" mat-raised-button (click)="goBackToList()">Volver</button>
</div>


